---
---


<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0" >
  <title>{{ site.data.settings.title }}</title>
  <link rel="icon" href="assets/img/favico.png">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body class="loading">

{% include loading.html %}

{% include header.html %}

{% include what_is_smarthash.html %}

{% include how_it_works.html %}

{% include available_for.html %}

{% include contact.html %}

{% include footer.html %}



<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/ScrollMagic.min.js"></script>
<script src="assets/js/animation.gsap.min.js"></script>
<script src="assets/js/debug.addIndicators.min.js"></script>
<script src="assets/js/fitText.js"></script>
<script src="assets/js/smoothScroll.js"></script>
<script src="assets/js/functions.js"></script>
</body>
</html>
