<section id="available-for-section" class="sections">
    <h1 class="section-title" id="available-for">Available for</h1>
    <div class="container section-container" id="available-for-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12"><h3>Soon available for</h3></div>
            </div>
            <div class="row available-row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button class="btn btn-default available-btn">
                        <i class="fa fa-android fa-lg"></i>Android
                    </button>
                </div>
            </div>
            <div class="row available-row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button class="btn btn-default available-btn" onclick="location.href='http://www.example.com'">
                        <i class="fa fa-apple fa-lg"></i>iOS
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
