<section id="contact-section" class="sections">
    <h1 class="section-title" id="contact">Contact Us</h1>
    <div class="container section-container" id="contact-container">
        <div class="container">
            <div class="row paddingTop60">
                <div class="col-md-12 center">
                    <a href="https://www.facebook.com/smartHashtags/" target="_blank" class="follow-us-fa">
                        <i class="fa fa-facebook-square fa-lg fa-logo"></i>
                    </a>
                </div>
            </div>
            <div class="row paddingTop60">
                <div class="col-md-12 center">
                    <a href="https://www.instagram.com/smarthashtag/" target="_blank" class="follow-us-fa">
                        <i class="fa fa-instagram fa-lg fa-logo"></i>
                    </a>
                </div>
            </div>
            <div class="row paddingTop60">
                <div class="col-md-12 center">
                    <a href="mailto:esmarthashtags@gmail.com" target="_top" class="follow-us-fa">
                        <i class="fa fa-envelope fa-lg fa-logo"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>