<section id="contact-section" class="sections">
    <h1 class="section-title" id="contact">Contact Us</h1>
    <div class="container section-container" id="contact-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">Follow Us of Facebook:</div>
                <div class="col-md-6 contact-who">SmartHash</div>
            </div>
            <div class="row paddingTop60">
                <div class="col-md-12 center">
                    <a href="https://www.facebook.com/smartHashtags/" target="_blank" class="fb-follow">
                        <i class="fa fa-facebook-square fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>