<section id="how-it-works-section" class="sections">
    <h1 class="section-title" id="idea">How SmartHash works</h1>
    <div class="container section-container" id="how-it-works-container">
        <div class="row">
            <div class="col-md-4 how-it-work-element">
                <h3>Take or pick image</h3>
                <div class="how-it-works-img"><img src="{{ site.github.url }}/assets/img/create_img_2.png" alt=""></div>
            </div>
            <div class="col-md-4 how-it-work-element">
                <h3>Select suggested hashtags</h3>
                <div class="how-it-works-img"><img src="{{ site.github.url }}/assets/img/app_view_2.png" alt=""></div>
            </div>
            <div class="col-md-4 how-it-work-element">
                <h3>Upload to Instagram</h3>
                <div class="how-it-works-img"><img src="{{ site.github.url }}/assets/img/insta_2.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
