#contact-container
  text-align: center
  .contact-who
    letter-spacing: 0.2em
    font-style: italic
  .follow-us-fa
    color: $color4
    &:hover
      color: $color3
  .fa-logo
    font-size: 86px